@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;

  nav {
    display: flex;
    gap: 1rem;

    a {
      font-weight: 700;
    }
  }
}

#section1 {
  width: 100%;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    display: flex;
    align-items: center;

    img {
      /* height: 90%; */
      width: 50%;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        color: rgb(17, 17, 17);
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: black;

        a {
          color: #34365a;
        }
      }

      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        padding: 1rem;
        border: 0;
        width: 200px;
      }
    }
  }
}
#section2 {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 70%;
    height: 90%;
  }
  .upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: black;
    }
  }
  .lower {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    .son {
      width: 50%;
      height: 40vh;
      background-color: yellow;
      background-size: cover;
    }
    .orange {
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: #f1bb13;
      padding: 1rem;

      button {
        background-color: #f1bb13;
        border-radius: 1rem;
        height: 50px;
        width: 150px;
        text-transform: uppercase;
      }
    }
    .blue {
      background-color: #34365a;
      color: white;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      gap: 30px;

      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        height: 50px;
        width: 150px;
        text-transform: uppercase;
      }
    }
  }
}

#section3 {
  background-color: #34365a;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  .container1 {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: white;
    }
    p {
      color: white;
    }
  }
  .container2 {
    button {
      background-color: #34365a;
      color: white;
      border-radius: 1rem;
      height: 50px;
      width: 150px;
      text-transform: uppercase;
    }
  }
}
#section4 {
  width: 100%;
  background-color: green;
  height: 200vh;
  display: flex;
  justify-content: center;
  position: relative;

  .container {
    width: 70%;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -473px;

    img {
      width: 50%;
      position: relative;
      
    }
    .small {
      width: 25%;
      height: 40vh;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1rem;
      gap: 20px;
      position: absolute;
      right: 100px;
      top: 15%;

      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        height: 50px;
        width: 150px;
        text-transform: uppercase;
      }
    }
    #lower1{
      width: 100%;
      height: 30vh;
      background-color: blue;
      display: flex;
      align-items: center;
      justify-content: space-between;
      

      .circle{
        width: 200px;
        height: 200px;
        background-color: yellow;
        border-radius: 50%;
      
    
      }
    }
  }
 
}
