@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;

  nav {
    display: flex;
    gap: 1rem;

    a {
      font-weight: 700;
    }
  }
}

#section1 {
  width: 100%;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    display: flex;
    align-items: center;

    img {
      /* height: 90%; */
      width: 50%;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        color: rgb(17, 17, 17);
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: black;

        a {
          color: #34365a;
        }
      }

      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        padding: 1rem;
        border: 0;
        width: 200px;
      }
    }
  }
}
#section2 {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 70%;
    height: 90%;
  }
  .upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    h2 {
      font-size: 2rem;
      font-weight: 700;
      color: black;
    }
  }
  .lower {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    .son {
      width: 50%;
      height: 40vh;
      background-color: yellow;
      background-size: cover;
    }
    .orange {
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: #f1bb13;
      padding: 1rem;

      button {
        background-color: #f1bb13;
        border-radius: 1rem;
        height: 50px;
        width: 150px;
        text-transform: uppercase;
      }
    }
    .blue {
      background-color: #34365a;
      color: white;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      gap: 30px;

      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        height: 50px;
        width: 150px;
        text-transform: uppercase;
      }
    }
  }
}

#section3 {
  background-color: #34365a;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  .container1 {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: white;
    }
    p {
      color: white;
    }
  }
  .container2 {
    button {
      background-color: #34365a;
      color: white;
      border-radius: 1rem;
      height: 50px;
      width: 150px;
      text-transform: uppercase;
    }
  }
}
#section4 {
  width: 95%;
  height: 200vh;
  display: flex;
  justify-content: center;
  position: relative;

  .container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -473px;

    img {
      width: 50%;
      position: relative;
    }
    .small {
      width: 22%;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1rem;
      gap: 20px;
      position: absolute;
      right: 200px;
      top: 198px;

      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        height: 50px;
        width: 150px;
        text-transform: uppercase;
      }
    }
  }
  #lower1 {
    width: 100%;
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: space-between;

    #container {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .circle1 {
        width: 180px;
        height: 180px;
        background-color: #f1bb13;
        border-radius: 50%;
      }
    }
    #container {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .circle2 {
        width: 180px;
        height: 180px;
        background-color: #f1bb13;
        border-radius: 50%;
      }
    }
    #container {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .circle3 {
        width: 180px;
        height: 180px;
        background-color: #f1bb13;
        border-radius: 50%;
      }
    }
    #container {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .circle4 {
        width: 180px;
        height: 180px;
        background-color: #f1bb13;
        border-radius: 50%;
      }
    }
  }
}
#Digital {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 150px;

  .left {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .container5 {
      width: 50%;
      height: 20vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #f1bb13;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      text-transform: uppercase;
    }
    p {
      font-size: 1rem;
      margin: 36px;
    }
    span {
      margin: 36px;
    }
    button {
      background-color: #34365a;
      color: white;
      border-radius: 1rem;
      height: 50px;
      width: 150px;
      text-transform: uppercase;
      margin: 36px;
    }
  }
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;

    .girl1 {
      img {
        margin: 20px auto 0 0;
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }
    }

    #parnet {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: row;

      .container6 {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          background-color: #34365a;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      .container7 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
    }
    #parent2 {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: row;
      .img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          background-color: #34365a;
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }
      .container8 {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
    }
  }
}

#section5 {
  width: 100%;
  .upper {
    width: 100%;
    background-color: #f1bb13;
    display: flex;
    flex-direction: row;
    #leftContainer {
      width: 50%;
      display: flex;
      gap: 50px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      #title {
        margin: 0 auto;
        font-size: 1.125rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px;
      }
      h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 28px 0 0;
      }
      p {
        line-height: 1.8;
        font-size: 1.25rem;
        margin: 28px 0 0;
      }
      span {
        margin: 36px;
      }
      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        height: 50px;
        width: 150px;
        text-transform: uppercase;
      }
    }
    #rightContainer {
      width: 50%;
      .container9 {
        display: flex;
        justify-content: center;
        align-items: end;
        padding: 30px;

        img {
          width: 100%;
          display: flex;
          position: relative;
          top: 2rem;
        }
      }
    }
  }
  .lower {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .boxs {
      width: 60%;
      height: 70vh;
      display: flex;
      justify-content: center;
      .leftBoxs {
        width: 100%;
        display: flex;
        flex-direction: column;
        .box1 {
          width: 100%;
          height: 100%;
          background-color: #f1bb13;
          background-size: cover;
          z-index: -1;
          display: flex;
          align-items: center;
          justify-content: center;
          h2 {
            font-size: 3rem;
            margin: 0;
            font-weight: 700;
            color: #ffffff;


          }
        }
        .box3 {
          width: 100%;
          height: 70%;
          display: flex;

          #left {
            width: 50%;
            height: 100%;
            background-size: cover;
          }
          #right {
            width: 50%;
            height: 100%;
            background-color: #f1bb13;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 35px;

            h2 {
              margin: 20px;
              word-wrap: break-word;
              text-align: left;
            }
          }
        }
      }
      .rightBoxs {
        width: 100%;
        display: flex;
        flex-direction: column;
        .box2 {
          width: 100%;
          height: 80%;
          background-color: #34365a;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h1 {
            font-size: 1.875rem;
            font-weight: 700;
            margin: 0;
            color: white;
          }
          p {
            color: white;
            margin: 20px;
          }
          span {
            text-transform: capitalize;
            margin: 20px;
            color: white;
          }
          button {
            background-color: white;
            color: #34365a;
            border-radius: 50px;
            height: 50px;
            width: 150px;
            text-transform: uppercase;
          }
        }
        .box4 {
          width: 100%;
          height: 100%;
          background-size: cover;
        }
      }
    }
  }
}
